* {
	margin: 0;
	padding: 0;
}

body { 
	background: linear-gradient(45deg, #EECFBA, #C5DDE8);
	height: 100%;
	width: 100%;
	background-size: cover;
}

header a {
	text-decoration: none;
}

@font-face {
	font-family: headerfont;
	src: url(../fonts/headertitle.ttf);
}

@font-face {
	font-family: footertitlefont;
	src: url(../fonts/titlefooter.ttf);
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(192, 5, 248, 0);
	z-index: 3;
}
.container {
	max-width: 1180px;
	margin: 0px auto;
	padding:0px 10px;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__list li {
	list-style: none;
	margin: 0px 0px 0px 0px;
}
.header__list {
	display: flex;
	position: relative;
	z-index: 3;
}
.header__link {
	font-size: 18px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 25px 20px;
	overflow: hidden;
}

.header__link:first-child {
	filter: hue-rotate(224deg);
}
.header__link:last-child {
	filter: hue-rotate(90deg);
}

.header__link {
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	font-family: relative;
}
.header__logo {
	flex: 0 0 180px;
	overflow: hidden;
	z-index: 3;
}
	.logo__header {
		color:black;
		font-size: 35px;
		font-family: headerfont;
	}
	